# Flask Framework
click==7.1.2
Flask==2.3.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==2.3.8

# Flask Packages
Flask-Login==0.6.3
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
Flask-User==1.0.2.2
Flask-Admin==1.6.1
Flask-Security==5.5.2
# Automated
pytest==3.10.1
pytest-cov==2.12.1