{% extends 'base.html' %}

{% block title %}
Все анкеты
{% endblock %}

{% block body %}
<main class="container-xl mt-5">
  <h3 class="mb-3 text-center">Все анкеты</h3>

  <!-- Контейнер для уведомлений -->
    <div class="position-fixed bottom-10 end-0 p-3" style="z-index: 11">
        <div id="custom-toast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="toast-message">
                    Вам необходимо авторизоваться для добавления лайка.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

  <div class="row pt-5">
    {% for el in articles %}
    <div class="col-md-6 d-flex">
      <div class="row g-0 w-100 border rounded overflow-hidden mb-4 shadow-sm position-relative">
        <div class="col p-4 d-flex flex-column justify-content-between position-static">
          <h4>{{ el.st_name }}</h4>
          <strong class="d-inline-block mb-2 text-success-emphasis">{{ el.faculty }}</strong>
          <div class="mb-2 text-body-secondary">{{ el.num_group }}</div>
          <p class="mb-auto">{{ el.main_text }}</p>
          <!-- Обёртка для кнопки -->
          <div class="row mt-2">
            <div class="col-md-6">
              <button class="btn btn-sm btn-outline-success like-btn" data-article-id="{{ el.id }}">
                ❤️ <span id="like-count-{{ el.id }}">{{ el.likes }}</span>
              </button>
            </div>
            <div class="col-md-6">
            <a href="/posts/{{ el.id }}" class="btn btn-sm btn-info ms-auto">Подробнее</a>
            </div>
          </div>
        </div>
        {% if el.image %}
        <div class="col-auto d-flex align-items-center">
          <img src="{{ url_for('image', article_id=el.id) }}" alt="Изображение"
               class="img-fluid rounded"  style="max-width: 200px; max-height: 300px;">
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

</main>
{% endblock %}