{% extends 'log.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block body %}

<div class="bg-image-login position-relative">
    <!-- Затемнение -->
    <div class="overlay"></div>
    <!-- Контент -->
    <section class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-5">
            <div class="card shadow-sm" style="border-radius: 1rem;">
              <div class="card-body p-4 text-center">

                <!-- Заголовок -->
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                  <img src="{{ url_for('static', filename='pic/logo.png') }}" alt="Logo" width="64px" height="64px">
                </a>
                <h4 class="mb-3">Регистрация</h4>
                <p class="mb-4 text-body-secondary">Please enter your login and password!</p>

                <!-- Поля формы -->
                <form action="/signup" method="post" enctype="multipart/form-data" novalidate>
                  <div class="mb-3">
                    <label for="user_name" class="w-100 text-start form-label">Имя</label>
                    <input type="text" class="form-control" id="user_name" placeholder="Введите имя" required>
                    <div class="invalid-feedback">
                      Пожалуйста, введите ваше имя.
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="st_id_card" class="w-100 text-start form-label">№ студенческого</label>
                    <input type="text" class="form-control" id="st_id_card" placeholder="Введите № студенческого" required>
                    <div class="invalid-feedback">
                      Пожалуйста, введите номер вашего студенческого.
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="password" class="w-100 text-start form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" placeholder="Введите пароль" required>
                    <div class="invalid-feedback">
                      Пожалуйста, введите пароль.
                    </div>
                  </div>

                  <!-- Кнопка входа -->
                  <button class="btn btn-success btn-block" type="submit">Зарегистрироваться</button>
                </form>

                <!-- Регистрация -->
                <p class="mt-4 mb-0 text-body-secondary">Do have an account?
                  <a href="/login" class="fw-bold link-success">Log In</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</div>

{% endblock %}