{% extends 'log.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block body %}

<h4 class="mb-3">Регистрация</h4>
<!-- Поля формы -->
<form action="/signup" method="post" class="needs-validation" novalidate>
  <div class="mb-3">
    <label for="user_name" class="w-100 text-start form-label">Имя</label>
    <input type="text" class="form-control" name="user_name" id="user_name" placeholder="Введите имя" required>
    <div class="invalid-feedback">Пожалуйста, введите ваше имя.</div>
  </div>

  <div class="mb-3">
    <label for="st_id_card" class="w-100 text-start form-label">№ студенческого</label>
    <input type="text" class="form-control {% if error %}is-invalid{% endif %}"
           name="st_id_card" id="st_id_card" placeholder="Введите № студенческого" required
           pattern="^\d+$" title="Пожалуйста, введите только цифры.">
    <div class="invalid-feedback">
      {% if error %}
        {{ error }}
      {% else %}
        Пожалуйста, введите номер вашего студенческого.
      {% endif %}
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="w-100 text-start form-label">Пароль</label>
    <input type="password" class="form-control {% if password_error %}is-invalid{% endif %}"
           name="password" id="password" placeholder="Введите пароль" required minlength="6">
    <div class="invalid-feedback">
    {% if password_error %}
      {{ password_error }}
    {% else %}
      Пожалуйста, введите пароль.
    {% endif %}
    </div>
  </div>

  <!-- Кнопка входа -->
  <button class="btn btn-success btn-block" type="submit">Зарегистрироваться</button>
</form>

<!-- Регистрация -->
<p class="mt-4 mb-0 text-body-secondary">У вас уже есть аккаунт?
  <a href="/login" class="fw-bold link-success">Войти</a>
</p>

{% endblock %}